<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
<link rel="stylesheet" href="css/home.css" />
    {{>header}}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 label">Username:</div><div class="col-12 data">{{username}}</div>
        <div class="col-12 label">Email:</div><div class="col-12 data">{{mail}}</div>
        <div class="col-12 label">PhoneNumber:</div><div class="col-12 data">{{number}}</div>
        <div class="col-12 label">Address:</div><div class="col-12 data">{{address}}</div>
      </div>
    </div>
    {{!-- {{>footer}} --}}
  </body>
</html>